<div class="container">   
<%= form_for @user, url:{action: "update"} do |f| %>      
 <%= "<div>#{@user.errors.full_messages.first}</div>".html_safe if @user.errors.any? %>   
    <p>   
     <div class="contentcontainer med left" style="margin-left: 10px;">
        <label>Name</label></br>
        <%= f.text_field :name %></br>     
        <label>Email</label></br>
        <%= f.text_field :email %></br>   
        <label>Contact</label></br>
        <%= f.text_field :contact %></br>
        <label>Address</label></br>
        <%= f.text_field :address %>
        <br><label>City</label></br>
        <%= f.text_field :city %>
        <%= f.submit 'Update User' %>   
     </div>          
    </div>   
<% end %>   
</div>  