<%= form_for @user do |f| %>
  <h1 class="largeHeader">Sign up</h1>

    <div class="field">
      <div class="contentcontainer med left" style="margin-left: 10px;">
        <br><%= f.label :name %></br>
        <%= f.text_field :name %>
        <br><%= f.label :password %></br>
        <%= f.password_field :password %>
        <br><%= f.label :Email%></br>
        <%= f.text_field :email%>
        <br><%= f.label :contact%></br>
         <%= f.number_field :contact%>
        <br><%= f.label :city%></br>
         <%= f.text_field :city%>
      <br><%= f.label :address%></br>
        <%= f.text_field :address%>     
      <br><%= f.label :DOB%></br>
        <%= f.date_field :dob%>     
    <br><%= f.submit "Register", class: 'button small radius' %>
          </div>
    </div>
<% end %>
