<div class="contentcontainer med left" style="margin-left: 10px;">
 <%= form_for @project, url:{action: "update"} do |f| %>      
 <%= "<div>#{@project.errors.full_messages.first}</div>".html_safe if @project.errors.any? %>  
  <fieldset>
    <h1>Project</h1>
    <div class="field">
      <div class="small-6 columns">
        <br><%= f.label :Project %></br>
        <%= f.text_field :project_name %>
      </div>
      <div class="small-6 columns">
       <br> <%= f.label :Description %></br>
        <%= f.text_field :description %>
      </div>
      <div class="small-6 columns">
       <br> <%= f.label :URL %></br>
        <%= f.text_field :url %>
      </div>
      <%= f.hidden_field :user_id, :value => current_user.id%>
    </div>
    <%= f.submit "submit", class: 'button small radius' %>
  </fieldset>
</div>
<% end %>