<div class="contentcontainer med left" style="margin-left: 15px;">
<% if current_user.projects.count > 0 %> 
<table style = "width: 100%;">
 	<thead>
 		<tr>
 			<th> project_id </th>
 			<th> project_name </th>
 			<th> Description </th>
 			<th> url </th>
 		</tr>
 	</thead>	
 	<tbody>
    <% current_user.projects.all.each do |project| %>
      <tr id="project_<%= project.id%>">
        <td><%= project.id%></td>
        <td><%= project.project_name%></td>
        <td><%= project.description%></td>
        <td><%= project.url%></td>
        <td><%= link_to "Update", edit_project_path(project.id), method: :get, :class => "btn btn-outline-primary" %></td>
        <td><%= link_to "Delete", project_path(project.id),remote: true, method: :delete, :class => "btn btn-outline-primary" %></td>
      </tr>
    <%end%>
  </tbody>  	
</table>
<% else %>
  <h1>No Project Available!!</h1>
<%end%>
</div>
