<%= form_for @education do |f| %>
<div class="contentcontainer med left" style="margin-left: 10px;">
  <p>
    <%=f.label :Qualification %><br>
    <%=f.select(:qualification_id, options_for_type) %>
  </p>

<div class="field">
  <div class="small-6 columns">
    <%= f.label :Institute_Name %></br>
    <%= f.text_field :institute_name %>
  </div>

  <div class="small-6 columns">
   </br><%= f.label :Percentage%></br>
    <%= f.number_field :percentage%>
  </div>

    <div class="field">
      <%= f.label :Year_of_Passing %>
      <%= f.date_field :year_of_passing, autocomplete: "dob" %><br/>
    </div>
   <%= f.hidden_field :user_id, :value => current_user.id%>
</div>
</br><%= f.submit "Submit", class: 'button small radius' %>
</div>
<% end %>
