<div class="contentcontainer med left" style="margin-left: 15px;">
<% if current_user.educations.count > 0 %> 
  <table style = "width: 100%;">
  <thead>
    <tr >
      <th> Qualification Type </th>
      <th> Institute Name </th>
      <th> Year of Passing </th>
      <th> Percentage </th>
    </tr>
  </thead>
  <tbody>
    <% current_user.educations.all.each do |education| %>
      <tr id="education_<%= education.id%>">
        <td><%= education.qualification.qualification_type %></td>
        <td><%= education.institute_name %></td>
        <td><%= education.year_of_passing.year %></td>
        <td><%= education.percentage %></td>
        <td><%= link_to "Update", edit_education_path(current_user.id), method: :get, :class => "btn btn-outline-primary" %>
          <td><%= link_to "Delete", education_path(education.id), remote: true, method: :delete, :class => "btn btn-outline-primary" %></td>
        </td>
      </tr>
    <%end%>
    </tbody>
  </table>
<% else %>
  <h1>No Education Details Available!!</h1>
<%end%>
</div>
