<fieldset>
<%= form_with(model: @resume, local: true) do |form| %>
  
  <div class="field">
  <legend>Objective</legend>
      <br><%= form.label :Objective %>
      <%= form.text_field :objective %></br>
      <%= form.hidden_field :user_id, :value => current_user.id%></br>  
  
  <%= form.fields_for :skills do |s| %>
  <legend>Skills</legend>
    <%= s.label :skill_name %>
    <%= s.text_field :skill_name %></br>
    <%= s.label :skill_description %>
    <%= s.text_field :skill_description %></br>
    <%= s.submit "Add skill", :type =>  "button",:onclick => 'addFields'%> </br>
  <% end %>
   <%= form.submit "submit", class: 'button small radius' %>
 </div>
<% end %>
</fieldset>