<nav class="navbar navbar-light bg-light">
  <div style="padding-bottom: 15px;">
  <li><%= link_to "Home", resumes_path, :class => "btn btn-outline-primary" %></li>
</div>
  <form class="form-inline">
    <% if user_signed_in? %>
      <li><%= link_to "Update User Details", edit_user_registration_path(current_user.id), :class => "btn btn-outline-primary" %></li>
    </div>

    <div style="padding-left: 10px;">
      <li><%= link_to "View Education Details", education_path(current_user), :class => "btn btn-outline-primary" %></li>
    </div>

      <div style="padding-left: 10px;">
       <li><%= link_to "View Project", project_path(current_user), :class => "btn btn-outline-primary" %></li>
     </div>

      <div style="padding-left: 10px;">
       <li><%= link_to "View adc", projects_path, :class => "btn btn-outline-primary" %></li>
     </div>

      <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => "btn btn-outline-primary" %></li>
    <div style="padding-left: 10px;">

    <%else%>
     <li><%= link_to "Login", new_user_session_path, :class => "btn btn-outline-primary" %></li>
      <div style="padding-left: 10px;">
      <li><%= link_to "Sign Up", new_user_registration_path, :class => "btn btn-outline-primary" %></li>
      </div>
    </div>
    <%end%>
  </form>
</nav>
